#snake-canvas-container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -120px;
  opacity: 0.9;
}

#snake-canvas-container .close-btn {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: 100px;
}

#snake-canvas {
  border: 2px solid #c23616;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  .not-visible-on-small-screens-and-printers {
    display: none !important;
  }
}

@media print {
  .not-visible-on-small-screens-and-printers {
    display: none !important;
  }
}

@media speech {
  .not-visible-on-small-screens-and-printers {
    display: none !important;
  }
}
