/*
Global
*/
h1{
    font-family: "Chelsea Market", Georgia, serif;
}

/*
Menu
*/
#menu-superior{
    background-color: #2980b9;
    margin-bottom: 0;
}

#menu-superior ul{
    width: 65%;
    margin: auto;
}

#menu-superior li{
    padding-bottom: 0;
    padding-top: 0;
}

#menu-superior li a{
    color: #fff;
    font-size: 1.1em;
}

#menu-superior li a:hover{
    background-color: #f39c12;
}

#menu-superior li:first-child a{
    background-color: transparent;
}

/*
Corpo - Apresentação
*/

#apresentacao{
    background-image: url(img/coding.jpg);
    background-position: center;
    background-size: cover;
}

#apresentacao .container{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

#apresentacao h1 span{
    background-color: rgba(243, 156, 18, 0.8);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2em;
}

/*
Corpo - Serviços
*/
#servicos h3 i{
    font-size: 3em;
}

.div-cor-1{
    
}

.titulo-area{
    text-align: center;
}

.titulo-area i{
    font-size: 1em !important;
}

/*
Corpo - Geral
*/

h2, #servicos h3 span{
    color: #E67E22;
}

.div-cor-1{
    background-color: #EFEFEF;
}

.avaliacao-boa,
.avaliacao-mediana,
.avaliacao-ruim{
    color: #FFF;
    padding-left: 3px;
    padding-right: 3px;
}

.avaliacao-boa{
    background-color: #27ae60;
}

.avaliacao-mediana{
    background-color: #2980b9;
}

.avaliacao-ruim{
    background-color: #E67E22;
}
